body {
    background-color: wheat;
    
	align-items: center;
    
}

#topo {
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: black
    
}

#logoM {
    width: 10%;
}

#logo {
    width: 150px;
}

#descrição {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font: arial;
}

h1 {
    font-size: 100px;
    font-style: arial;

}

h2 {
    font-size: 30px;
}

#pic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font: arial;
    font-size: 40px;
    color: black
}

#pic1 {
    font: arial;
    font-size: 15px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    margin: 50px;
    color: black
}

#pic2 {
    font: arial;
    font-size: 15px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    margin: 50px;
    color: black
}

#dateContainer{
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;

}


